.container-fluid
  .row
    .col-lg-8
      h1.page-header Batchs
        button.btn.btn-primary.pull-right(ng-click='$ctrl.openModal()')
          i.fa.fa-file-o(aria-hidden="true")
      .panel.panel-default(ng-repeat='batch in $ctrl.batchs | orderBy: "created_at" : true')
        .panel-heading
          .h4
            | BatchID: {{batch.batchid}}, Client: {{batch.clientid}}, EnvId: {{ batch.environmentid}}
        .panel-body
          .row
            .col-sm-2
              h5
                | caseid
            .col-sm-2
              h5
                | score
            .col-sm-2
              h5
                | fundingSource
            .col-sm-2
              h5
                | benefitamount
            .col-sm-2
              h5
                | status
          .row(ng-repeat="iso in $ctrl.isos | filter: { batchid: batch.batchid }")
            .col-sm-12
              .row
                .col-sm-2
                  .entry
                    | {{iso.caseid}}
                .col-sm-2
                  .entry
                    | {{iso.score}}
                .col-sm-2
                  .entry
                    | {{iso.fundingsource}}
                .col-sm-2
                  .entry
                    | {{iso.benefitamount}}
                .col-sm-2
                  .entry
                    | {{iso.casestate}} - {{iso.isostate}}
                .col-sm-1
                  i.fa.fa-eye.fa-lg(aria-hidden="true",ng-click='$ctrl.openIsoModal(iso)')
                .col-sm-1
                  i.fa.fa-reply-all.fa-lg(aria-hidden="true",ng-click='$ctrl.sendIsoResponse(iso)')
              .row(ng-if="$ctrl.hasResponses(iso)")
                .col-sm-8.col-sm-offset-2.bg-warning
                  table.table.table-stripped.table-hover.table-condensed
                    thead
                      tr
                        th
                          span.responseEntryTitle
                              | pid
                        th
                          span.responseEntryTitle
                              | received
                        th
                          span.responseEntryTitle
                              | score
                        th
                        th
                    tbody
                      tr(ng-repeat="isoresponse in $ctrl.isoresponses | filter: { caseid: iso.caseid }")
                        td
                          span.responseEntry
                            | {{isoresponse.pid}}
                        td
                          span.responseEntry
                            | {{isoresponse.createdat}}
                        td
                          span.responseEntry
                            | {{isoresponse.score}}
                        td
                          i.fa.fa-eye.fa-lg(aria-hidden="true",ng-click='$ctrl.openIsoModal(isoresponse)')
                        td
                          i.fa.fa-external-link.fa-lg(aria-hidden="true")
    .col-lg-4
      .row
        h1.page-header Logs:
        pre.pre-scrollable
          p.logs(ng-repeat='log in $ctrl.logs | orderBy: "created_at" : true')
            | pid:
            span#value
              | {{log.process_instance_id}}
            |, batch_id:
            span#value
              | {{log.batch_id}}
            |, case_id:
            span#value
              | {{log.case_id}}
            |, step_id:
            span#value
              | {{log.step_id}}
            |, description:
            span#value
              | {{log.description}}
        h1.page-header Activities:
        pre.pre-scrollable
          p.logs(ng-repeat='activity in $ctrl.activities | orderBy: "created_at" : true')
            | client_id:
            span#value
              | {{activity.client_id}}
            | , case_id:
            span#value
              | {{activity.case_id}}
            | , created_by:
            span#value
              | {{activity.created_by}}
            | , activity_type:
            span#value
              | {{activity.activity_type}}
            | , description:
            span#value
              | {{activity.description}}
        h1.page-header Diaries:
        pre.pre-scrollable
          p.logs(ng-repeat='diary in $ctrl.diaries | orderBy: "created_at" : true')
            | client_id:
            span#value
              | {{diary.client_id}}
            | , case_id:
            span#value
              | {{diary.case_id}}
            | , created_by:
            span#value
              | {{diary.created_by}}
            | , diary_type:
            span#value
              | {{diary.diary_type}}
            | , diary_status:
            span#value
              | {{diary.diary_status}}
            | , due_date:
            span#value
              | {{diary.due_date}}
            | , description:
            span#value
              | {{diary.description}}
script(type='text/ng-template',id='batchModalContent.html')
  .modal-header
    h3
      | Create new batch
  .modal-body
    form.form-inline
      .form-group
        input.form-control.form-space(type="text",placeHolder="ISOIndicator",ng-model="newCase.isoIndicator")
      .form-group
        input.form-control.form-space(type="text",placeHolder="Score",ng-model="newCase.score")
      .form-group
        input.form-control.form-space(type="text",placeHolder="FundingSource",ng-model="newCase.FundingSource")
      button.btn.btn-primary.pull-right(ng-click="addCase()")
        i.fa.fa-plus-square(aria-hidden="true")
        | &nbsp; Add
      button.btn.btn-warning.form-space.pull-right(ng-click="randomCase()")
        i.fa.fa-random(aria-hidden="true")
        | &nbsp; Random
    pre.pre-scrollable(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Submit
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel

script(type='text/ng-template',id='isoModalContent.html')
  .modal-header
    h3
      | View object
  .modal-body
    pre.pre-scrollable(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primar(type="button",ng-click="cancel()")
      | &nbsp;Ok

