.container-fluid
  .row
    .col-lg-8
      h1.page-header Batchs
        button.btn.btn-primary.pull-right(ng-click='$ctrl.openModal()')
          i.fa.fa-file-o(aria-hidden="true")
      .panel.panel-default(ng-repeat='batch in $ctrl.batchs | orderBy: "created_at" : true')
        .panel-heading
          .h4
            | BatchID: {{batch.batchid}}, Client: {{batch.clientid}}, EnvId: {{ batch.environmentid}}
        .panel-body
          .row
            .col-sm-3
              h5
                | caseid
            .col-sm-2
              h5
                | score
            .col-sm-2
              h5
                | fundingSource
            .col-sm-2
              h5
                | benefitamount
          .row(ng-repeat="iso in $ctrl.isos | filter: { batchid: batch.batchid }")
            .col-sm-3
              .entry
                | {{iso.caseid}}
            .col-sm-2
              .entry
                | {{iso.score}}
            .col-sm-2
              .entry
                | {{iso.fundingsource}}
            .col-sm-2
              .entry
                | {{iso.benefitamount}}
            .col-sm-1
              i.fa.fa-eye(aria-hidden="true",ng-click='$ctrl.openModal()')
            .col-sm-1
              i.fa.fa-reply-all(aria-hidden="true",ng-click='$ctrl.openModal()')

    .col-lg-4
      h1.page-header Logs:
      pre.pre-scrollable
        p.logs(ng-repeat='log in $ctrl.logs | orderBy: "created_at" : true')
          | pid: 
          span#value
            | {{log.process_instance_id}}
          |, batch_id:
          span#value
            | {{log.batch_id}}
          |, case_id:
          span#value
            | {{log.case_id}}
          |, step_id:
          span#value
            | {{log.step_id}}
          |, description:
          span#value
            | {{log.description}}
script(type='text/ng-template',id='batchModalContent.html')
  .modal-header
    h3
      | Create new batch
  .modal-body
    form.form-inline
      .form-group
        input.form-control.form-space(type="text",placeHolder="ISOIndicator",ng-model="newCase.isoIndicator")
      .form-group
        input.form-control.form-space(type="text",placeHolder="Score",ng-model="newCase.score")
      .form-group
        input.form-control.form-space(type="text",placeHolder="FundingSource",ng-model="newCase.FundingSource")
      button.btn.btn-primary.pull-right(ng-click="addCase()")
        i.fa.fa-plus-square(aria-hidden="true") 
        | &nbsp; Add        
      button.btn.btn-warning.form-space.pull-right(ng-click="randomCase()")
        i.fa.fa-random(aria-hidden="true")
        | &nbsp; Random
    pre.pre-scrollable(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Submit
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel

