.container-fluid
  .row
    .col-lg-8
      h1.page-header Batchs
      .panel.panel-default(ng-repeat='batch in $ctrl.batchs')
        .panel-heading
          .h4
            | BatchID: {{batch.batchid}}, Client: {{batch.clientid}}, EnvId: {{ batch.environmentid}}
        .panel-body
          | something
      ul
        li.logs(ng-repeat='batch in $ctrl.batchs')
          | {{batch.batchid}}
    .col-lg-4
      h1.page-header Logs:
      pre.pre-scrollable
        p.logs(ng-repeat='log in $ctrl.logs | orderBy: "created_at" : true')
          | pid: 
          span#value
            | {{log.process_instance_id}}
          |, batch_id:
          span#value
            | {{log.batch_id}}
          |, case_id:
          span#value
            | {{log.case_id}}
          |, step_id:
          span#value
            | {{log.step_id}}
          |, description:
          span#value
            | {{log.description}}

