.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
.logs {
  font-size: 11px;
  padding: 1px;
  margin: 0px;
}
#value {
  font-weight: bold;
}
.pre-scrollable {
    max-height: 500px;
    overflow-y: scroll;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.form-space {
  margin-right: 10px;
}
.entry {
  font-size:12px
}
.responseEntryTitle {
  font-size: 11px;
  font-weight: bold;
}
.responseEntry {
  font-size: 10px;
}
