.container-fluid
  //- .row
  //-   .col-lg-12
  //-     h3.page-header
  //-       | Logging service
  .row
    .col-lg-10.col-lg-offset-1
      pre.pre-scrollable
        p.logs(ng-repeat='log in $ctrl.logs | orderBy: "created_at" : true')
          | pid:
          span#value
            | {{log.process_instance_id}}
          |, batch_id:
          span#value
            | {{log.batch_id}}
          |, case_id:
          span#value
            | {{log.case_id}}
          |, step_id:
          span#value
            | {{log.step_id}}
          |, description:
          span#value
            | {{log.description}}
  .row
    .col-lg-12
      //- h3.page-header Batchs&nbsp;&nbsp;
      button.btn.btn-primary(ng-click='$ctrl.openModal()')
        i.fa.fa-file-o(aria-hidden="true")
  .row.row-bordered
    .col-lg-4
      h5
        | Batch ID
    .col-lg-4
      h5
        | Client ID
    .col-lg-4
      h5
        | Environment ID
  .row.row-bordered.bg-info(ng-repeat='batch in $ctrl.batchs | orderBy: "created_at" : true')
    .col-lg-4
      a(ng-click="batch.isCollapsed = !batch.isCollapsed")
        | {{batch.batchid}}
    .col-lg-4
      | {{batch.clientid}}
    .col-lg-4
      | {{batch.environmentid}}
    .row(uib-collapse="!batch.isCollapsed")
      .col-lg-11.col-lg-offset-1
        h5
          | Isos
        .row.bg-warning.row-bordered
          .col-lg-3
            h5
              | Case ID
          .col-lg-2
            h5
              | Score
          .col-lg-2
            h5
              | Funding source
          .col-lg-2
            h5
              | Benefit amount
          .col-lg-2
            h5
              | Status
          .col-lg-1
        .row.row-bordered.bg-warning(ng-repeat="iso in $ctrl.isos | filter: { batchid: batch.batchid }")
          .col-lg-3
            a(ng-click="iso.isCollapsed = !iso.isCollapsed")
              | {{iso.caseid}}
          .col-lg-2
            | {{$ctrl.isos.length}}
          .col-lg-2
            | {{$ctrl.iqs.length}}
          .col-lg-2
            | {{iso.benefitamount}}
          .col-lg-2
            | {{iso.casetype}} - {{iso.isostate}}
          .col-lg-1
            i.fa.fa-eye.fa-lg(aria-hidden="true",ng-click='$ctrl.openIsoModal(iso)')
          .row(ng-if="$ctrl.hasResponses(iso)",uib-collapse="iso.isCollapsed")
            .col-lg-11.col-lg-offset-1
              h5
                | ISO Responses
              .row.bg-danger.row-bordered
                .col-lg-3
                  h5
                    | pid
                .col-lg-2
                  h5
                    | received
                .col-lg-2
                  h5
                    | Score
                .col-lg-2
              .row.bg-danger.row-bordered(ng-repeat="isoresponse in $ctrl.isoresponses | filter: { caseid: iso.caseid }")
                .col-lg-3
                  | {{isoresponse.pid}}
                .col-lg-2
                  | {{isoresponse.createdat}}
                .col-lg-2
                  | {{isoresponse.score}}
                .col-lg-2
                  i.fa.fa-external-link.fa-lg(aria-hidden="true", ng-click='$ctrl.sendIsoScoreModal(isoresponse)')
          .row(ng-if="$ctrl.hasActivities(iso)",uib-collapse="iso.isCollapsed")
            .col-lg-11.col-lg-offset-1
              h5
                | Activities
              .row.bg-danger.row-bordered
                .col-lg-3
                  h5
                    | _id
                .col-lg-2
                  h5
                    | Activity Type
                .col-lg-2
              .row.bg-danger.row-bordered(ng-repeat='activity in $ctrl.activities | filter: { CaseId: iso.caseid } | orderBy: "CreatedAt" : true')
                .col-lg-3
                  | {{activity._id}}
                .col-lg-2
                  | {{activity.ActivityType}}
          .row(ng-if="$ctrl.hasDiaries(iso)",uib-collapse="iso.isCollapsed")
            .col-lg-11.col-lg-offset-1
              h5
                | Diaries
              .row.bg-danger.row-bordered
                .col-lg-3
                  h5
                    | _id
                .col-lg-2
                  h5
                    | Diary Type
                .col-lg-2
                  h5
                    | Diary Status
                .col-lg-2
              .row.bg-danger.row-bordered(ng-repeat='diary in $ctrl.diaries | filter: { CaseId: iso.caseid } | orderBy: "CreatedAt" : true')
                .col-lg-3
                  | {{diary._id}}
                .col-lg-2
                  | {{diary.DiaryType}}
                .col-lg-2
                  | {{diary.DiaryStatus}}
        h5
          | Iqs
        .row.bg-warning.row-bordered
          .col-lg-3
            h5
              | Case Id
          .col-lg-2
            h5
              | Score
          .col-lg-2
            h5
              | Funding source
          .col-lg-2
            h5
              | Benefit amount
          .col-lg-2
            h5
              | Status
          .col-lg-1
        .row.row-bordered.bg-warning(ng-repeat="iq in $ctrl.iqs | filter: { batchid: batch.batchid }")
          .col-lg-3
            a(ng-click="iq.isCollapsed = !iq.isCollapsed")
              | {{iq.caseid}}
          .col-lg-2
            | {{iq.score}}
          .col-lg-2
            | {{iq.fundingsource}}
          .col-lg-2
            | {{iq.benefitamount}}
          .col-lg-2
            | {{iq.casetype}} - {{iq.isostate}}
          .col-lg-1
            i.fa.fa-eye.fa-lg(aria-hidden="true",ng-click='$ctrl.openIqModal(iq)')
          .row(ng-if="$ctrl.hasActivities(iq)",uib-collapse="iq.isCollapsed")
            .col-lg-11.col-lg-offset-1
              h5
                | Activities
              .row.bg-danger.row-bordered
                .col-lg-3
                  h5
                    | _id
                .col-lg-2
                  h5
                    | Activity Type
                .col-lg-2
              .row.bg-danger.row-bordered(ng-repeat='activity in $ctrl.activities | filter: { CaseId: iq.caseid } | orderBy: "CreatedAt" : true')
                .col-lg-3
                  | {{activity._id}}
                .col-lg-2
                  | {{activity.ActivityType}}
script(type='text/ng-template',id='batchModalContent.html')
  .modal-header
    h3
      | Create new batch
  .modal-body
    form.form-inline
      .form-group
        input.form-control.form-space(type="text",placeHolder="ISOIndicator",ng-model="newCase.isoIndicator")
      .form-group
        input.form-control.form-space(type="text",placeHolder="Score",ng-model="newCase.score")
      .form-group
        input.form-control.form-space(type="text",placeHolder="FundingSource",ng-model="newCase.FundingSource")
      .form-group
        input.form-control.form-space(type="text",placeHolder="Benefit",ng-model="newCase.benefit")
      button.btn.btn-primary.pull-right(ng-click="addCase()")
        i.fa.fa-plus-square(aria-hidden="true")
      button.btn.btn-warning.form-space.pull-right(ng-click="randomCase()")
        i.fa.fa-random(aria-hidden="true")
    pre.pre-scrollable-large(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Submit
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel
script(type='text/ng-template',id='isoModalContent.html')
  .modal-header
    h3
      | View object
  .modal-body
    pre.pre-scrollable-large(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Send ISO Response
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel
script(type='text/ng-template',id='isoScoreModalContent.html')
  .modal-header
    h3
      | Send ISO score
  .modal-body
    form.form-inline
      .form-group
        label.form-space Status
        select.form-control.form-space(required=true,ng-model="newScore.status")
          option(value='-- Select --', selected= true) -- Select --
          option(value='OPEN') OPEN
          option(value='CWOC') CWOC
      .form-group
        label.form-space Score
        select.form-control.form-space(required=true,ng-model="newScore.score")
          option(value='-- Select --', selected= true) -- Select --
          option(value='MISS') MISS
          option(value='HIT') HIT
          option(value='MATCH') MATCH
          option(value='REJECTED') REJECTED
    //- pre.pre-scrollable(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Submit
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel

script(type='text/ng-template',id='iqModalContent.html')
  .modal-header
    h3
      | View object
  .modal-body
    pre.pre-scrollable-large(ng-bind-html="doc | prettify")
  .modal-footer
    button.btn.btn-primary(type="button",ng-click="ok()")
      i.fa.fa-paper-plane-o(aria-hidden="true")
      | &nbsp;Send IQ Response
    button.btn.btn-danger(type="button",ng-click="cancel()")
      i.fa.fa-undo(aria-hidden="true")
      | &nbsp;Cancel
